<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.DeptDao"><!-- 映射到哪个接口 -->
	<select id="getAll" resultType="com.entity.Dept">
		select * from dept
	</select>
	
	<insert id="add" parameterType="com.entity.Dept">
		insert into dept(department,parent_id) values (#{department},#{parent_id});
	</insert>
	
	<select id="getById" parameterType="Integer" resultType="com.entity.Dept">
		select id,department,parent_id from dept where id=#{id}
	</select>
	
	<delete id="delById" parameterType="Integer">
		delete from dept where id=#{id}
	</delete>
	
	<update id="updateById" parameterType="com.entity.Dept">
		update dept set department=#{department},parent_id=#{parent_id} where id=#{id}
	</update>

</mapper>
