<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PermissionDao"><!-- 映射到哪个接口 -->
	<select id="getAll" resultType="com.entity.Permission">
		select * from permission
	</select>
	
	<insert id="add" parameterType="com.entity.Permission">
		insert into permission(code,name,url,description) values (#{code},#{name},#{url},#{description});
	</insert>
	
	<select id="getById" parameterType="Integer" resultType="com.entity.Permission">
		select id,code,name,url,description from permission where id=#{id}
	</select>
	
	<delete id="delById" parameterType="Integer">
		delete from permission where id=#{id}
	</delete>
	
	<update id="updateById" parameterType="com.entity.Permission">
		update permission set code=#{code},name=#{name},url=#{url},description=#{desciption} where id=#{id}
	</update>

</mapper>
