<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.ResourcesDao"><!-- 映射到哪个接口 -->
	<select id="getAll" resultType="com.entity.Resources">
		select * from resources
	</select>
	
	<insert id="add" parameterType="com.entity.Resources">
		insert into resources(name,url,level,parent_id,sort,status) values (#{name},#{url},#{level},#{parent_id},#{sort},#{status});
	</insert>
	
	<select id="getById" parameterType="Integer" resultType="com.entity.Resources">
		select id,name,url,level,parent_id,sort,status from resources where id=#{id}
	</select>
	
	<delete id="delById" parameterType="Integer">
		delete from resources where id=#{id}
	</delete>
	
	<update id="updateById" parameterType="com.entity.Resources">
		update resources set name=#{id},url=#{id},level=#{id},parent_id=#{id},sort=#{id},status=#{id} where id=#{id}
	</update>

</mapper>
