<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.RoleDao"><!-- 映射到哪个接口 -->
	<select id="getAll" resultType="com.entity.Role">
		select * from user
	</select>
	
	<insert id="add">
		insert into user(username,password,deptId,roleId,age) values (#{username},#{password},#{deptId},#{roleId},#{age});
	</insert>
	
	<select id="getById">
		select username,password,deptId,roleId,age from user 
		<where>
			id=#{id}
		</where>
	</select>
	
	<delete id="delById">
		delete username,password,deptId,roleId,age from user 
		<where>
			id=#{id}
		</where>
	</delete>
	
	<update id="updateById">
		update username,password,deptId,roleId,age from user 
		<where>
			id=#{id}
		</where>
	</update>

</mapper>
