<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao"><!-- 映射到哪个接口 -->
	<select id="getAll" resultType="com.entity.User" >
		select * from user
	</select>
	
	<insert id="add" parameterType="com.entity.User">
		insert into user(id,username,password,dept_id,role_id,age,name,status) values (#{id},#{username},#{password},#{dept_id},#{role_id},#{age},#{name},#{status});
	</insert>
	
	<select id="getById" parameterType="Integer" resultType="com.entity.User">
		select id,username,password,dept_id,role_id,age,name,status from user where id=#{id}
	</select>
	
	<delete id="delById" parameterType="Integer">
		delete from user where id=#{id}
	</delete>
	
	<update id="updateById" parameterType="com.entity.User">
		update user set username=#{username},password=#{password},dept_id=#{dept_id},role_id=#{role_id},age=#{age},name=#{name},status=#{status} where id=#{id}
	</update>
	
	<sql id="">
			SELECT
				*
			FROM
				user_role ur
			LEFT JOIN role r ON r.id = ur.role_id
			LEFT JOIN role_permission rp ON rp.role_id = r.id
			LEFT JOIN permission p on p.id=rp.permission_id
			WHERE
				ur.user_id = 1;
	</sql>
	
	<resultMap type="com.entity.User" id="User">
		<result column="username" property="username"/>
		<result column="password" property=""/>
		<result column="" property=""/>
		<result column="" property=""/>
		<collection property="" javaType="">
			<result column="" property=""/>
			<result column="" property=""/>
			<collection property="" javaType="">
				<result column="" property=""/>
				<result column="" property=""/>
			</collection>
		</collection>
	</resultMap>
	
	<!-- <resultMap id="detailedBlogResultMap" type="Blog">
		<constructor>
			<idArg column="blog_id" javaType="int"/>
		</constructor>
		<result property="title" column="blog_title"/>
		<association property="author" column="blog_author_id" javaType=" Author">
			<id property="id" column="author_id"/>
			<result property="username" column="author_username"/>
			<result property="password" column="author_password"/>
			<result property="email" column="author_email"/>
			<result property="bio" column="author_bio"/>
			<result property="favouriteSection" column="author_favourite_section"/>
		</association>
		<collection property="posts" ofType="Post">
			<id property="id" column="post_id"/>
			<result property="subject" column="post_subject"/>
			<association property="author" column="post_author_id" javaType="Author"/>
			<collection property="comments" column="post_id" ofType=" Comment">
				<id property="id" column="comment_id"/>
			</collection>
			<collection property="tags" column="post_id" ofType=" Tag" >
				<id property="id" column="tag_id"/>
			</collection>
			<discriminator javaType="int" column="draft">
				<case value="1" resultType="DraftPost"/>
			</discriminator>
		</collection>
	</resultMap> -->

	<!-- <resultMap id="detailedBlogResultMap" type="Blog">
		<constructor>
			<idArg column="blog_id" javaType="int"/>
		</constructor>
		<result property="title" column="blog_title"/>
		<association property="author" column="blog_author_id" javaType=" Author">
			<id property="id" column="author_id"/>
			<result property="username" column="author_username"/>
			<result property="password" column="author_password"/>
			<result property="email" column="author_email"/>
			<result property="bio" column="author_bio"/>
			<result property="favouriteSection" column="author_favourite_section"/>
		</association>
		<collection property="posts" ofType="Post">
			<id property="id" column="post_id"/>
			<result property="subject" column="post_subject"/>
			<association property="author" column="post_author_id" javaType="Author"/>
			<collection property="comments" column="post_id" ofType=" Comment">
				<id property="id" column="comment_id"/>
			</collection>
			<collection property="tags" column="post_id" ofType=" Tag" >
				<id property="id" column="tag_id"/>
			</collection>
			<discriminator javaType="int" column="draft">
				<case value="1" resultType="DraftPost"/>
			</discriminator>
		</collection>
	</resultMap> -->
	
</mapper>
